/*
 * Web font
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Thin);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
html, body {
	background-color: white; /* Beccapurple */
	margin: 10px;
}

.topnav, .tab2, .tab1 {
  overflow: hidden;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav a {
  /*float: left;
  display: ;
  color: ;
  text-align: center;
  padding: 0px 64px;
  text-decoration: none;*/
    text-decoration: none;
    color: #666666;
    background-color:#FFFFFF;
    padding: 2px 2px;
    font-size : large;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color : #333131;
}

.topnav li{
    float: left;
    margin-right: 85px;
    margin-left: 0px;
    padding: 2px;
}
.tab1 li, .tab2 li{
    float: none;
    margin-top: 10px;

    margin-left: none;
    margin-bottom: 10px;
    padding: 0px;
}


.navi_home {
    width: 50px;
}.navi_works{
    width: 70px;
}.navi_statement{
    width: 105px;
}

.div1, .div2, {
    float: left;
}
.div3{
    float: none ;
}


.top h1, h2, h3, .div3, h4, h6 {
    margin-top: 2em;
	margin: 0;
	padding: 0;

}



body {
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	/*font-size: 100%;*/
	width: 80%;
	margin-right: auto;
	margin-left: auto;
    padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}

h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
}
.portfolio p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	 text-indent: 30px;
	font-size: 14px;
	margin:0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 90%;

	padding:10px;
	text-decoration: none;
}
.statement h2 {
	font-family: 'Roboto', sans-serif;
	margin:0 auto;
	font-size: 16px;
	font-weight: 400;
	padding:0px;
}
.statement p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	 text-indent: 30px;
	font-size: 14px;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: %;

	padding:10px;
	text-decoration: none;
}

.resize {
		margin:0 auto;
		margin-top: 10px;
	width: 600px;
	height: 300px;
}
.resizetwo {
		margin:0 auto;
		margin-top: 10px;
	width: 400px;
	height: 500px;
}

#workcontent {
	position:relative;
	float:left;
	top:80px;
	left:0px;
	padding-left:20px;
	width:90%;
	}
.column {
margin-top:20px;
height:100%;
}

footer {

  padding: 10px;
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
